{% extends 'base.html' %}
{% block ghosh %}
  <h1>This is register</h1>
  <center>
    <form action="register" method="post">
      {% csrf_token %}
      <label for="">Username: </label>
      <input type="text" name="gg" placeholder="Username" />
      <br /><br />
      <label for="">Passward: </label>
      <input type="password" name="pw" placeholder="password" />
      <br /><br />
      <label for="">Email: </label>
      <input type="email" name="email" placeholder="Email" />
      <br /><br />
      <input type="submit" value="Register" />
    </form>
  </center>
{% endblock %}
